*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

@font-face {
  font-family: "Patrick Hand";
  src: local("Patrick Hand"), url('./assets/fonts/PatrickHand-Regular.ttf');
}

body {
  box-sizing: border-box;
  font-family: "Patrick Hand", cursive;
  line-height: 1.5;
}
